.comment-text {
  text-align: left;
  padding-top: 2px;
  margin-left: 4px;
}
.comment {
  font-size: 16px;
}
.user {
  font-size: 14px;
  margin-left: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.user.one{
position: relative;
left: 6px;
color: white;
}
.comment.two{
  position: relative;
  left: 10px;
}
.comment-form  {
  margin: 10px 0;
  width: 100%;
}
.comment-form input {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-top: 1px solid #efefef;
  background-color: rgb(56, 45, 45);
  color: white;
  outline: none;
}

.comment-button{
  margin: 10px 0;
  width: 100%;
  border: none;
  background-color: rgb(149, 35, 35);
  color: white;
}