@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");

/* html,
body {
  width: 105%;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  background-color: black; */

main {
  background-color:black;
  z-index: 100;
} 
 main > *:nth-child(odd) {
  background-color: black;
} 

.home-text {
  width: 60%;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  background-color: black;
}

section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  padding: 100px 100px;
}
section > .container {
  display: flex;
  height: 100%;
  margin: 0px auto;
  max-width: 1440px;
}
section > .container > * {
  margin: auto 12px;
} 

.section-text__title {
  background-color: black;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 100px;
  margin-bottom: 40px;
  color: white;
  max-width: 400px;
}

.section-text__title-big {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  line-height: 1.3;
  margin-bottom: 24px;
  max-width: 600px;
}
 .section-text__title-small {
  margin-left: 80px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
  color: white;
}
.section-text__subtitle {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.section-text__body {
  color: white;
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 400;
  max-width: 600px;
}

.section-about_text_body {
    color: white;
    margin-left: 70px;
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    max-width: 600px;
}

.section-image {
  height: calc(80vh - 130px);
}

.section-image__small {
  height: calc(110vh - 130px);
  max-width: 80vw;
}
.section-image img,
.section-image__small img {
  background-color: black;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
} 
 
.download-btn {
  background-color: white;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 16px 40px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s linear;
  margin: 0;
}
.download-btn:hover {
  background-color: rgb(172, 172, 172);
} 

.text-white {
  color: #fff;
}

.row {
    background-color: black;
  display: flex;
  margin: 0px -14px;
  justify-content: space-between;
}
.col-50 {
  width: 50%;
  padding: 0px 14px;
}
.col-30 {
  width: 30%;
  padding: 30px 14px;
}