*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;
  color: white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.gridItem {
    margin-right: 33px;
    width: 22%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 41px;
    padding: 0px 15px;
    border-radius: 26%;
    height: 231px;
    background-size: 347px;
    cursor: pointer;
}

.gridItem:hover{
    /* transform: scale(1.10, 1.10); */
    box-shadow: 2px 2px 4px 0px #9c0e0e;
}

.playlist-title{
    margin-left: -3px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-size: 36px;
    margin-top: 17px;
}
.playlist-page-div{
    background-color: black;
    color: white;
    padding: 153px 0px
}

.playlist-page-second-div{
    margin-bottom: 0px;
    margin-top: -97px;
}

.playlist-page-image{
   width: 300px;
   height: 300px;
}

.playlist-audio{
  outline: none;
  margin-top: 28px;
  margin-left: 300px;
  width: 48rem;
  display: flex;
  border: none;
  transition: all 0.5s linear;
  box-shadow: 2px 2px 4px 0px #fafafa;
  border-radius: 28px 28px 28px 28px;
  margin-bottom: 39px;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #ffffff;
    -webkit-box-shadow:  2px 2px 4px 0px #ffffff;
    box-shadow: 2px 2px 4px 0px #fafafa;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius: 28px 28px 28px 28px;
}

.playlist-page-song-artist{
  margin-top: 15px;
  margin-right: 28px;
  margin-bottom: 10px;
}

.playlist-page-song-title{
  margin-top: 13px;
    margin-right: 28px;
}

.playlist-song-div{
  margin-left: 30px;
}

.p-div{
  background-color: black;
}