 /* .maindiv{
    box-sizing: content-box;
    width: calc(100% - 40px);
    flex-grow: 1;
    margin: 0 auto 30px;
    max-width: 935px;
    padding: 30px 20px 0;
    margin-bottom: 0;
}

.header {
    margin-bottom: 44px;
    flex-direction: row;
}

.x1{
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 30px;
    flex-shrink: 0;
}

.x2{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.x3{
    background-color: rgba(var(--b3f,250,250,250),1);
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.x4{
    border: 0;
    cursor: pointer;
    height: 100%;
    padding: 0;
    width: 100%
}

.profile-image{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.section{
    flex-basis: 30px;
    flex-grow: 2;
    color: rgba(var(--i1d,38,38,38),1);
    flex-shrink: 1;
    min-width: 0;
}

.h1{
    font-size: 28px;
    line-height: 32px;
    margin: -5px 0 -6px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: narrow;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 300;
}

.a1{
    flex-shrink: 0;
    margin-left: 20px;
    display: block;
} */

.b1{
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 1px 1px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 34px;
    margin-top: 15px;
    font-size: 11px;
}

.b3{
    width: 5%;
    height: 24px;
}

.b4{
    background-color: hsla(0, 0%, 0%, 0);
    border: 1px solid rgba(var(--ca6,219,219,219), 1);
    color: rgba(var(--f75,38,38,38),1)
}

.profile-image{
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 100%;
    width: 150px;
    height: auto;
    margin-left: 504px;
}

.profile-name{
    font-size: 30px;
    margin-left: 41px;
    margin-top: 8px;
}

.profile-bio{
    margin-left: -82px;
    margin-top: 61px;
}

.header{
    margin-bottom: 28px;
    display: flex;
    position: relative;
    margin-top: 27px;
    border-bottom: solid 1px hsl(0, 0%, 93%);
    padding-bottom: 46px;
}

