.App {
  text-align: center;
}

.likeButton{
  position: relative;
  top: 2px;
  margin-left: 1px;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  .likeButton:focus{ outline-color: transparent }
  .likeButton.unlike{
    font-size: 15.7px;
    margin-left: 1px;
  }